* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}
body {
    width: 100%;
    color: #000;
    font-family: 'Outfit', sans-serif;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: all 0.3s ease-in-out;
}
a:not(.social-icon):after,
i:after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
i:after {
    bottom: 0;
}

i:hover::after,
a:hover::after {
    width: 1rem;
}
button {
    border: none;
    padding: 0.5rem 2rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

$sections: (
    header: red,
    main: #fff,
    footer: #000,
);
@each $section, $color in $sections {
    #{$section} {
        background-color: $color;
        grid-area: $section;
    }
}
main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'vision'
        'creations';
    grid-gap: 10rem;
}

p {
    margin: 0;
}

img {
    width: auto;
    max-width: 100%;
}
#wrapper-wholepage {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #fff;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
        'header header header'
        '. main .'
        'footer footer footer';
    row-gap: 10rem;
}
#vision-container {
    width: 100%;
    height: 500px;
    grid-area: vision;
    position: relative;
    img {
        position: absolute;
        bottom: 0;
        left: 0%;
    }
}
.text-container {
    background-color: #fff;
    padding: 5rem 0 0 5rem;
    max-width: 550px;
    position: absolute;
    bottom: 0;
    left: 30%;
    z-index: 2;

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

#creations-container {
    grid-area: creations;
    h2 {
        font-size: 2rem;
    }
}
#creations-header {
    margin-bottom: 5rem;
}
#creations-grid {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.creation-card {
    position: relative;
    width: 100%;
    max-width: 100%;

    img {
        width: 100%;
        max-width: 100%;
    }
    .caption {
        width: 100%;
        max-width: 100%;
        padding: 2.5rem;
        font-size: 1.7rem;
        font-weight: 200;
        color: #fff;
        position: absolute;
        bottom: 0;
        text-transform: uppercase;
        white-space: pre;
        letter-spacing: 1px;
    }
}

footer {
    width: 100%;
    padding: 2.5rem 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'logo social'
        'links copyright';
    color: #fff;
    gap: 1.5rem;

    h2 {
        grid-area: logo;
    }
    #social-container {
        grid-area: social;
        font-size: 1.5rem;
    }
    p {
        grid-area: copyright;
        text-align: end;
    }
}

#header-links,
#footer-links {
    grid-area: links;
    float: right;
}

header {
    width: 100%;
    color: #fff;
    position: relative;
    #hero-container {
        width: 100%;
        img {
            width: 100%;
        }
    }
    #nav-container {
        width: 100%;
        padding: 2.5rem 10%;
        position: absolute;
        top: 0;
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        a {
            font-size: 1.2rem;
        }
    }
    h1 {
        padding: clamp(1rem, 1rem + 1vw, 2.5rem);
        border: 3px solid #fff;
        font-size: clamp(1.5rem, 1.5rem + 2vw, 10rem);
        white-space: pre;
        letter-spacing: 3px;
        position: absolute;
        top: 40%;
        left: 10%;
    }
}
#menu-open {
    cursor: pointer;
    display: none;
}
#menu-modal {
    #modal-header {
        margin-bottom: 8rem;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;
    background-color: rgba(0, 0, 0);
    display: none;
    z-index: 999;
    img {
        cursor: pointer;
    }
    h2 {
        font-size: 3rem;
    }
    a {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 1px;

        align-self: flex-start;
    }
    a:hover::after {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #menu-open {
        display: block;
    }
    #wrapper-wholepage {
        grid-template-columns: 5% 90% 5%;
    }
    #creations-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-areas:
            'logo'
            'links'
            'social'
            'copyright';
        place-items: center; /* 同时控制水平和垂直居中 */
        #footer-links {
            flex-direction: column;
            a {
                text-align: center;
            }
        }
    }

    #header-links {
        display: none !important;
    }

    h1 {
        padding: 2rem !important;
        border: 3px solid #fff;
        font-size: 2rem !important;
        white-space: pre !important;
        position: absolute;
        top: 50%;
    }
    #vision-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        position: static;
        top: auto;
        left: auto;
        img {
            max-width: 100%;
            position: static;
            top: auto;
            left: auto;
            display: block;
        }
    }
    .text-container {
        margin-top: 5rem;
        padding: 0;
        max-width: 100%;
        position: static;
        top: auto;
        left: auto;

        h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
}

