// colors styles
$bg-1: rgb(237, 242, 248);
$moderate-violet: rgb(89, 52, 139);
$very-dark-grayish-blue: rgb(48, 54, 85);
$very-dark-blackish-blue: rgb(29, 37, 47);
$light-gray: rgb(207, 207, 207);
$light-grayish-blue: rgb(209, 221, 233);

// font styles
$SansSerif-Poppins: 'Poppins', sans-serif;
// global styles
* {
  font-family: $SansSerif-Poppins;
  box-sizing: border-box;
  margin: 0;
  font-size: 13px;
}
body {
  background-color: $bg-1;
}
// container styles

// spacing styles

// text&img styles

// RWD styles
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
