* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    overflow-y: auto;
}
html {
    font-size: clamp(16px, 1vw, 30px);
}
body {
    width: 100%;
    color: #fff;
    background-color: blue;
    position: relative;
}
a {
    text-decoration: none;
    color: #fff;
}
main {
    width: 100%;
    height: 100%;
    padding: 0 0 0 3.5%;
    background-image: url('home/background-home-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-between;
}

.t-aaa {
    color: #aaa;
}

/*nav*/

.round-funny {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0b0f1a;
    position: relative;
    overflow: hidden;
}
.round-funny-inner {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 99.99% 0;
}
.p2 {
    left: auto;
    right: 0;
    border-radius: 0 0 0 99.99%;
}
.p3 {
    top: auto;
    bottom: 0;
    border-radius: 0 99.99% 0 0;
}
.p4 {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    border-radius: 99.99% 0 0 0;
}
.menu {
    display: flex;
    gap: 2vw;
    padding: 2rem 15% 2rem 7.5%;
    background: linear-gradient(
        to right,
        rgba(45, 80, 116, 0.2) 20%,
        rgba(83, 97, 124, 0.2) 60%,
        rgba(16, 39, 73, 0.2) 100%
    );
    backdrop-filter: blur(10px);
    a {
        letter-spacing: 2px;
    }
}
.white-line {
    margin-left: 3.5%;
    flex: 1 1 30%;
    height: 1px;
    background-color: #aaa;
    position: relative;
    &::after {
        position: absolute;
        z-index: 10;
        content: '';
        left: 100%;
        width: 2vw;
        height: 1px;
        background-color: #aaa;
    }
}
.show-menu {
    display: none;
    margin-right: 1rem;
    font-size: 2rem;
}
.menu-modal {
    position: absolute;
    z-index: 99;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    a {
        font-size: 1.5rem;
    }
    .close-menu-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }
}
/*home*/
.text-part {
    width: 30%;
    min-width: 30rem;
    position: absolute;
    bottom: calc(3.5% + 50px);
    left: calc(3.5% + 50px);
    h2 {
        font-size: 8rem;
    }
    h3 {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
    }
    h3,
    p {
        color: #aaa;
        letter-spacing: 1px;
    }
}
.explore-btn {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    position: absolute;
    bottom: calc(3.5% + 50px);
    right: calc(3.5% + 50px);
    font-size: 2rem;
    margin-bottom: 3rem;
}
/*Destination*/
.destination {
    margin-top: clamp(0px, 5%, 200px);

    display: flex;
    margin-left: calc(3.5% + 50px);
}
.left-part {
    width: 40%;
    h2 {
        margin-bottom: 20%;
        font-size: 2rem;
        span {
            color: grey;
        }
    }
    img {
        width: 80%;
        height: auto;
        align-self: center;
    }
}
.right-part {
    width: 35%;
    h3 {
        font-size: 5rem;
        margin: 10% 0 10% 0;
    }
    p {
        letter-spacing: 1px;
    }
    hr {
        margin: 10% 0 5% 0;
    }
    .distance,
    .time {
        text-transform: uppercase;
    }
    .value {
        font-size: 1.5rem;
    }
}
.planet-list {
    a {
        padding-bottom: 0.5rem;
        border-bottom: 3px solid transparent;
    }
    .pressed {
        color: #fff;
        border-bottom: 3px solid #fff;
    }
}
/*crew*/
.crew {
    display: flex;
    margin-left: calc(3.5% + 50px);
    margin-top: clamp(0px, 5%, 200px);
}
.crew-left {
    width: 35%;
}
.crew-card {
    margin-top: clamp(0px, 10rem, 400px);
    h4 {
        font-size: 3rem;
        margin: 5% 0 5% 0;
    }
    p {
        letter-spacing: 1px;
    }
}
.crew-right {
    width: 65%;
    img {
        width: 50%;
    }
}
.dots {
    margin-top: 10%;
}
.dot {
    width: 1rem;
    height: 1rem;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}
.be-focused {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
}
/*technology*/
.technology {
    display: flex;
    margin-left: calc(3.5% + 50px);
    margin-top: clamp(0px, 5%, 200px);
    position: relative;
}
.technology-left {
    width: 35%;
}
.technology-title {
    margin: 0 0 15% 0;
    text-transform: uppercase;
}
.technology-btns {
    margin-right: 4rem;
}
.technology-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #0b0e17;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.technology-btn-pressed {
    background-color: #fff;
    color: #000;
    border: 1px solid transparent;
}
.technology-content {
    h3 {
        font-size: 3rem;
        margin: 5% 0 5% 0;
        text-transform: uppercase;
    }
    p {
        letter-spacing: 1px;
        color: #f1f1f1;
        font-weight: 300;
    }
    .technology-content-title {
        text-transform: uppercase;
        font-size: 1.2rem;
    }
}

.technology-right {
    width: 45%;
    img {
        max-width: 100%;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 16px;
    }

    /*nav*/

    .menu {
        gap: 2vw;
        padding: 2rem 15% 2rem 7.5%;
        background: linear-gradient(
            to right,
            rgba(45, 80, 116, 0.2) 20%,
            rgba(83, 97, 124, 0.2) 60%,
            rgba(16, 39, 73, 0.2) 100%
        );
        backdrop-filter: blur(10px);
        a {
            font-size: 1.2rem;
            letter-spacing: 2px;
        }
    }
    .white-line {
        display: none;
    }
    /*home*/
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .text-part {
            width: 60%;
            text-align: center;
            position: relative;
            bottom: auto;
            left: auto;
            margin-bottom: 4rem;
        }
        .explore-btn {
            position: relative;
            bottom: auto;
            right: auto;
        }
    }
    /*destination*/
    .destination {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 0;
        h2 {
            margin-bottom: 5rem;
        }
        .left-part {
            width: 80%;
            text-align: center;
            margin-bottom: 4rem;
        }
        .right-part {
            width: 80%;
        }
        .distance-time,
        .planet-list {
            justify-content: center;
            align-items: center;
        }
        .distance,
        .time,
        .planet-info-content {
            text-align: center;
        }
    }
    /*crew*/
    .crew {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 0;
    }
    .crew-card {
        margin-top: 4rem;
        h4 {
            font-size: 3rem;
            margin: 5% 0 5% 0;
        }
    }
    .crew-right,
    .crew-left {
        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .crew-right {
        img {
            width: 100%;
            max-height: 70rem;
            object-fit: cover;
            object-position: top;
        }
    }
    /*technology*/
    .technology {
        margin-left: 0;
        justify-content: space-around;
    }
    .technology,
    .technology-body,
    .technology-left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .technology-left,
    .technology-right {
        width: 80%;
    }
    .technology-btns {
        flex-direction: row !important;
        margin-bottom: 3rem;
    }
}

@media (max-width: 900px) {
    .show-menu {
        display: block;
    }
    html {
        font-size: 12px;
    }
    .menu {
        display: none;
    }
}
